:root {
  --text-color-dark: #191a15;
  --text-color-grey: #a6a6a6;
  --theme-color-green: #54bd95;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button,
fieldset {
  border: none;
}

.wrapper {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container {
  position: relative;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.preview-image {
  position: relative;
  container-type: size;
}

.preview-image img {
  position: absolute;
  height: auto;
  pointer-events: none;
}

.curved-line {
  display: block;
  max-width: 479px;
  width: 100%;
  height: 26px;
  pointer-events: none;
  overflow: visible;
}

.blurred-circles-wrapper {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: clip;

  /* optimization */
  isolation: isolate;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.blurred-circle {
  position: absolute;
  width: 634px;
  height: 634px;
  filter: blur(500px);
}

.green-check-list > li::before {
  display: block;
  float: left;
  margin-right: 20px;
  min-width: 32px;
  width: 32px;
  height: 32px;
  content: "";
  background: url("../images/green-check.svg");
  background-size: contain;
}

/* HERO SECTION */

.hero-section .blurred-circle:nth-child(1 of .blurred-circle) {
  left: -317px;
  top: -280px;
  background: #52bdaa;
}

.hero-section .blurred-circle:nth-child(2 of .blurred-circle) {
  left: 1123px;
  top: 270px;
  background: #54be96;
}

.hero-section .blurred-circle:nth-child(3 of .blurred-circle) {
  left: 581px;
  top: -364px;
  background: #ffd6d6;
}

.hero-section .blurred-circle:nth-child(4 of .blurred-circle) {
  left: 376px;
  top: 219px;
  background: #ffffff;
}

/* HERO HEADER */

.hero-section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 130px;
}

.hero-section__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-inline: auto;
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-color-grey);
}

.hero-section__logo {
  overflow-x: clip;
  flex-basis: 42%;
  font-weight: 600;
  font-size: 3.125rem;
  line-height: 30px;
  color: #54bd95;
}

.hero-section__menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.hero-section__menu-toggle {
  display: none;
  z-index: 10;
  background: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.hero-section__nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.hero-section__nav > ul:nth-child(1) {
  flex-basis: 408px;
  flex-grow: 0;
}

.hero-section__nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section__nav .active {
  font-size: 1.125rem;
  color: #000000;
}

.hero-section__auth {
  flex-basis: content;
  gap: 21px;
}

.hero-section__auth > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section__sign-up {
  padding: 10px;
  background: #54bd95;
  border-radius: 10px;
  color: #f8f8fa;
}

/* HERO CONTENT */

.hero-section__body {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  margin-top: 130px;
}

.hero-section__body h1 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 90px;
  color: var(--text-color-dark);
}

.hero-section__content .curved-line {
  margin-top: 30px;
}

.hero-section__subtext {
  max-width: 461px;
  width: 100%;
  margin-top: 50px;
  font-size: 1.125rem;
  line-height: 30px;
  font-weight: 500;
}

.hero-section__call-to-action {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: start;
  margin-top: 50px;
}

.try-for-free {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 10px;
  width: 165px;
  height: 62px;
  background: #54bd95;
  border-radius: 40px;
  font-size: 1.125rem;
  color: white;
}

.play-button {
  display: inline-flex;
  align-items: center;
  padding: 4px;
  gap: 14px;
  width: 152px;
  height: 40px;
}

.hero-section__man-and-background {
  position: relative;
  width: 69.492%;
  height: auto;
  aspect-ratio: 410 / 526;
  left: 30.5%;
  border-radius: 2.44%;
  clip-path: inset(0 0 0 0 round 2.44%);
}

.hero-section__decorative-background {
  width: 100%;
  height: auto;
}

.hero-section__a-man-with-glasses {
  top: 17.5%;
  width: 95%;
}

.hero-section__enter-amount-send {
  top: 5cqw;
  width: 44cqw;
}

.hero-section__checkbox-icon {
  top: 29.2cqw;
  left: 19.8cqw;
  width: 8.5cqw;
}

.hero-section__total-income {
  top: 71.2cqw;
  left: 16.3cqw;
  width: 24.5cqw;
}

.hero-section__message-icon {
  top: 86.4cqw;
  left: 83.6cqw;
  width: 8.5cqw;
}

.hero-section__credit-card-black {
  top: 49.2cqw;
  left: 86.7cqw;
  width: 32cqw;
}

.hero-section__balance-icon {
  top: 4.5cqw;
  left: 96cqw;
  width: 10cqw;
}

.hero-section h2 {
  margin-top: 130px;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  color: var(--text-color-dark);
}

.hero-section__partners {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 60px;
  max-width: 1076px;
  width: 100%;
  overflow-x: hidden;
}

.hero-section__partners > ul {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-around;
}

.hero-section__partners > ul > li {
  padding-inline: 25px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.875rem;
  color: var(--text-color-grey);
}

.hero-section__partners > ul > li::before {
  display: inline-block;
  margin-right: 10px;
  content: "";
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-section__partners > ul > li:nth-child(1)::before {
  background-image: url("../images/unsplash-icon.svg");
}

.hero-section__partners > ul > li:nth-child(2)::before {
  background-image: url("../images/notion-icon.svg");
}

.hero-section__partners > ul > li:nth-child(3)::before {
  background-image: url("../images/intercom-icon.svg");
}

.hero-section__partners > ul > li:nth-child(4)::before {
  background-image: url("../images/descript-icon.svg");
}

.hero-section__partners > ul > li:nth-child(5)::before {
  background-image: url("../images/grammarly-icon.svg");
}

@media (max-width: 1400px) {
  .container {
    padding-inline: 1em;
  }

  .hero-section__body {
    grid-template-columns: 100%;
    gap: 50px;
  }

  .preview-image {
    width: 80%;
    transform: translateX(-12%);
    justify-self: center;
  }

  .hero-section__preview-image {
    aspect-ratio: 100 / 80;
  }

  .hero-section__body {
    margin-top: 80px;
  }

  .hero-section__content h1 {
    font-size: 3rem;
    line-height: 55px;
  }
}

@media (max-width: 1024px) {
  .hero-section__header {
  }

  .hero-section__menu {
    clip-path: inset(0 0 0 0);
    z-index: 5;
    position: absolute;
    padding-block: 10px;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: -5px;
    width: 100%;
    height: auto;
    background-color: #54bd95;
    color: white;
    transform: translateY(-150%);
  }

  .hero-section__logo {
    flex-basis: auto;
  }

  .hero-section__nav {
    flex-direction: column;
    gap: 20px;
  }

  .hero-section__nav > ul:nth-child(1) {
    flex-direction: column;
    flex-basis: auto;
    gap: 10px;
  }

  .hero-section__auth {
  }

  .hero-section__sign-up {
    color: #54bd95;
    background-color: white;
  }

  .hero-section__menu-toggle {
    display: block;
  }
}

/* RATINGS SECTION */

.ratings-section {
  background-color: #f9f8fe;
  color: var(--text-color-grey);
}

.ratings-section .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 60px;
}

.ratings-section .container > div:nth-child(1) {
  flex: 0 1 644px;
}

.ratings-section .container > div:nth-child(2) {
  flex: 0 1 509px;
}

.ratings-section__title {
  font-weight: 600;
  font-size: 3.125rem;
  color: var(--text-color-dark);
}

.ratings-section__subtext {
  margin-bottom: 73px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
  color: var(--text-color-grey);
}

.ratings-section__rating-block {
  display: inline-flex;
  flex-direction: column;
  margin-right: 80px;
  gap: 18px;
}

.ratings-section__stars {
}

.ratings-section__star {
}

.ratings-section__rating {
  color: var(--text-color-dark);
}

.ratings-section__rating-source {
  font-weight: bold;
  font-size: 1.125rem;
  color: var(--text-color-grey);
}

.ratings-section__star--inactive {
  filter: brightness(0) saturate(100%) invert(74%) sepia(10%) saturate(2%)
    hue-rotate(314deg) brightness(98%) contrast(96%);
}

.ratings-section__features {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ratings-section__feature {
  display: flex;
  gap: 21px;
}

.ratings-section__feature-icon {
  display: flex;
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  place-content: center;
  background-color: #fff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
}

.ratings-section__feature-icon img {
  width: 30px;
}

.ratings-section__feature-description {
}

.ratings-section__feature-description h3 {
  font-weight: bold;
  font-size: 1.75rem;
  color: var(--text-color-dark);
  margin-bottom: 10px;
}

.ratings-section__feature-description p {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 30px;
}

@media (max-width: 1400px) {
  .ratings-section__subtext {
    margin-bottom: 30px;
  }

  .ratings-section .container {
    gap: 30px;
  }

  .ratings-section__rating-block {
    margin-bottom: 30px;
  }
}

/* FEATURES SECTION */

.features-section {
  margin-block: 130px;
}

.features-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 74px;
}

.features-section__title {
  flex-basis: 331px;
  font-weight: 600;
  font-size: 3.125rem;
  color: var(--text-color-dark);
}

.features-section__description {
  flex-basis: 461px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 30px;
  color: var(--text-color-grey);
}

.features-section__action-button {
  display: block;
  width: 162px;
  height: 66px;
  background-color: #54bd95;
  border-radius: 70px;
  padding: 18px 30px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 30px;
  color: white;
}

.features-section__features {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, min(100%, 364px));
  justify-content: center;
  gap: 44px;
}

.features-section__feature {
}

.features-section__feature img {
  width: 100%;
}

.features-section__feature h3 {
  margin-block: 30px 20px;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 30px;
  color: var(--text-color-dark);
}

.features-section__feature p {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 30px;
  color: var(--text-color-grey);
}

/* BENEFITS SECTION */

.benefits-section {
  margin-block: 130px;
}

.benefits-section .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(471px, 100%), 1fr));
  gap: 50px;
}

.benefits-section__benefits-block {
}

.benefits-section__benefits-block h2 {
  margin-bottom: 50px;
  max-width: 429px;
  font-weight: 700;
  font-size: 3.125rem;
  color: var(--text-color-dark);
}

.benefits-section__benefits-block > ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.benefits-section__benefits-block > ul > li {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 30px;
  color: var(--text-color-dark);
}

.benefits-section__preview-image {
  aspect-ratio: 643 / 617;
}

.benefits-section__laptop {
  left: 21.7cqw;
  width: 79.65cqw;
  border-radius: 3.5cqw;
}

.benefits-section__amanda-young {
  container-type: size;
  position: relative;
}

.benefits-section__amanda-young-bg {
  top: 6cqw;
  width: 55cqw;
}

.benefits-section__amanda-young-icon {
  top: 8.5cqw;
  left: 3.5cqw;
  width: 10cqw;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100%;
}

.benefits-section__gallery-icon {
  top: 48.6cqw;
  left: 9.4cqw;
  width: 8.7cqw;
}

.benefits-section__money-transfer-successful {
  top: 83cqw;
  left: 1.4cqw;
  width: 56cqw;
}

.benefits-section__total-income {
  top: 21cqw;
  left: 89cqw;
  width: 25cqw;
}

/* CHOOSE PLAN SECTION */

.choose-plan-section {
  margin-block: 130px;
  position: relative;
}

.choose-plan-section .blurred-circle:nth-child(1) {
  left: 1123px;
  top: -156px;
  background: #54be96;
}

.choose-plan-section__title {
  max-width: 492px;
  margin: 0 auto 40px;
  text-align: center;
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 73px;
  color: var(--text-color-dark);
}

.choose-plan-section__title-subtext {
  margin-block: 40px;
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  color: var(--text-color-grey);
}

.choose-plan-section__billing-type {
  display: flex;
  margin: 40px auto 67px;
  justify-content: space-between;
  padding: 7px;
  max-width: 340px;
  background: white;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.choose-plan-section__billing-type label {
  cursor: pointer;
  padding: 13px 33px;
  background: white;
  border-radius: 10px;
  color: var(--text-color-dark);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 30px;
}

.choose-plan-section__billing-type label:has(input[type="radio"]:checked) {
  color: white;
  background: #54bd95;
}

.choose-plan-section__billing-type input {
  appearance: none;
}

.choose-plan-section__pricing-plans {
  overflow-x: hidden;
}

.choose-plan-section__pricing-plans.swiper-initialized
  .choose-plan-section__pricing-plans-wrapper {
  justify-content: flex-start;
}

.choose-plan-section__pricing-plans-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 684px;
}

.choose-plan-section__pricing-plans-item {
  display: flex !important;
  flex-direction: column;
  padding: 40px 20px 25px;
  max-width: 374px;
  max-height: 684px;
  width: 100%;
  height: 644px !important;
  background: white;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  transition: height 0.2s ease;
}

.choose-plan-section__pricing-plans-item.swiper-slide-active {
  transition: height 0.2s;
  height: 684px !important;
}

.choose-plan-section__subtitle {
  font-weight: 600;
  font-size: 1.875rem;
  text-align: center;
  color: var(--text-color-dark);
}

.choose-plan-section__subtitle-subtext {
  margin-block: 10px 13px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 27px;
  text-align: center;
  color: var(--text-color-grey);
}

.choose-plan-section__price-block {
  margin: 40px auto 22px;
  width: max-content;
}

.choose-plan-section__currency {
  position: relative;
  display: inline-block;
  text-align: right;
  align-content: end;
  top: -36px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 30px;
  color: var(--text-color-grey);
}

.choose-plan-section__item-price {
  display: inline-block;
  font-weight: 600;
  font-size: 3.125rem;
  line-height: 30px;
  color: var(--text-color-dark);
}

.choose-plan-section__features {
  flex: 1 1 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 34px 37px 17px;
  width: 100%;
  background: #f9fafb;
  border-radius: 10px;
}

.choose-plan-section__features ul {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.choose-plan-section__features ul > li {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 30px;
  color: var(--text-color-dark);
}

.choose-plan-section .green-check-list > li::before {
  margin-right: 10px;
  min-width: 26px;
  width: 26px;
  height: 26px;
}

.choose-plan-section__call-to-action {
  padding: 17px 63px;
  text-align: center;
  align-content: center;
  margin: 27px auto 0;
  background: white;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 30px;
  color: var(--theme-color-green);
}

.choose-plan-section__pricing-plans-item--highlighted {
  background: var(--theme-color-green);
}

.choose-plan-section__pricing-plans-item--highlighted {
  & .choose-plan-section__subtitle,
  & .choose-plan-section__subtitle-subtext,
  & .choose-plan-section__currency,
  & .choose-plan-section__item-price,
  & .choose-plan-section__call-to-action {
    color: white;
  }

  & .choose-plan-section__call-to-action {
    background-color: var(--theme-color-green);
  }
}

.choose-plan-section__text-hook {
  padding: 5px 10px;
  text-align: center;
  align-content: center;
  background: #85dab9;
  color: white;
  border-radius: 10px;
  width: max-content;
  margin: -16px auto 15px;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 30px;
}
